<html lang="<%- lang %>">
  <head>
    <meta charset="UTF-8">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower|Patrick+Hand+SC">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <!-- <link rel="stylesheet" href="./styles/normalize.css"> -->
    <link rel="stylesheet" href="./styles/main.css">
  </head>
  <body>
    <%- include('./includes/home') %>
    <%- include('./includes/information') %>
    <%- include('./includes/generator') %>
    <%- include('./includes/footer') %>
    <script src="./scripts/main.js"></script>
  </body>
</html>