<html lang="<%- lang %>">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="author" content="Matheus Alves (@theuves)">
    <meta name="description" content="Um gerador personalizado de lorem ipsum.">
    <meta name="keywords" content="lorem, ipsum, cebolinha">

    <title><%- title %></title>

    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link rel="preconnect" href="https://use.fontawesome.com/">

    <link rel="preload" as="image" href="./images/bg.jpg">
    <link rel="preload" as="image" href="./images/char.svg">
    <link rel="preload" as="image" href="./images/texture.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower|Patrick+Hand+SC">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="./styles/normalize.css">
    <link rel="stylesheet" href="./styles/main.css">

    <link rel="canonical" href='https://theuves.github.io/cebolinha-ipsum/'>

    <meta property="og:url" content="https://theuves.github.io/cebolinha-ipsum/">

    <meta property="og:title" content="Cebolinha Ipsum">
    <meta property="og:description" content="Um gerador personalizado de lorem ipsum.">
    <meta property="og:image" content="./images/social.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@theuves">
    <meta name="twitter:title" content="Cebolinha Ipsum">
    <meta name="twitter:description" content="Um gerador personalizado de lorem ipsum.">
    <meta name="twitter:image" content="./images/social.png">
  </head>
  <body>
    <%- include('./includes/home') %>
    <%- include('./includes/information') %>
    <%- include('./includes/generator') %>
    <%- include('./includes/footer') %>

    <script defer src="./scripts/main.js"></script>
  </body>
</html>